@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');

* {
    background-color: #242424;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}


.main-container {
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    margin-bottom: 10px;
}

.menu-btn {
    margin: 10px;
    width: 110px;
    height: 40px;
    background: linear-gradient(270deg, #1deab5, #d8f0ea);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    -o-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
    border: none;
    border-radius: 20px;
    color: #242424;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.action-btn {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 24px;
    transition: font-size 0.25s ease-in;
}

.action-btn:hover, .action-btn:focus {
    border-radius: 100%;
    font-size: 18px;
    font-size: 16px;
    outline: none;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* TO DO ABOVE BUTTON HOVER EFFECTs */

.board-container {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

.layer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: gray;
    height: 150px;    
    align-items: center;
}

.player {
    border-radius: 8px;
    flex-basis: 200px;
    height: 120px; /* changed */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: cyan;
}

.deck {
    flex-basis: 90px;
    height: 60px;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
}

/* 180 30 */
.card {
    margin: 4px;
    width: 36px;
    height: 52px;
    border-radius: 1px;
    cursor: pointer;
    background-image: url('/images/poker-cards.png');
    background-size: cover;
    background-position: center;
}

.burnt-card {
    background-image: none;
    background-color: black;
    opacity: 0.3;
}

.rotated-90-deg {
    transform: rotate(90deg);
}

.rotated-270-deg {
    transform: rotate(270deg);
}

.middle-container {
    height: 250px;
}

@media (max-width: 420px) {
    .player {
        flex-basis: 180px;
        max-height: 120px;
        justify-content: center;
        flex-wrap: wrap;
    } 

    .horizontal-player{
        margin: -20px;
    }

    .card{
        margin: 3px;
    }
}

/* 350px + */

